USE [master]
GO
/****** Object:  Database [DEPORTISTAS]    Script Date: 22/11/2023 01:33:35 ******/
CREATE DATABASE [DEPORTISTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEPORTISTAS', FILENAME = N'C:\DataSQL\DEPORTISTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEPORTISTAS_log', FILENAME = N'C:\DataSQL\DEPORTISTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEPORTISTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEPORTISTAS]
GO
/****** Object:  Table [dbo].[Atletismo]    Script Date: 22/11/2023 01:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atletismo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[aptoMedico] [bit] NOT NULL,
	[federado] [bit] NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[disciplina] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Atletismo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escalada]    Script Date: 22/11/2023 01:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escalada](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[aptoMedico] [bit] NOT NULL,
	[federado] [bit] NOT NULL,
	[grado] [varchar](50) NOT NULL,
	[modalidad] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Escalada] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voley]    Script Date: 22/11/2023 01:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voley](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[aptoMedico] [bit] NOT NULL,
	[federado] [bit] NOT NULL,
	[posicion] [varchar](50) NOT NULL,
	[altura] [float] NOT NULL,
	[partidosJugados] [int] NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Voley] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
